    <footer id="foot">
		<p style="margin-top:10px;font-style:italic;"><strong>BUZZ &copy; 2019&nbsp;|&nbsp;WRITE TO US: <a href="mailto:shashwatsr2712@gmail.com">shashwatsr2712@gmail.com</a></strong></p>
		<a href="https://twitter.com/ShashwatSuny" target="_blank" class="awesome fab fa-twitter" style="color:white;text-decoration:none;"></a>&nbsp;
		<a href="https://github.com/shashwatsr2712/" target="_blank" class="awesome fab fa-github" style="font-size:40px;color:black;text-decoration:none;"></a>&nbsp;
		<a href="https://www.linkedin.com/in/shashwatsr2712" target="_blank" class="awesome fab fa-linkedin" style="color:white;text-decoration:none;"></a>&nbsp;
	</footer>
    
    <script src="/scripts/chat.js"></script>
    </body>
</html>
