<% include partials/header.ejs %>

<section id="chatSpace">
    
</section>

<section id="sendingMessage" class="fixed-bottom">
    <div class="container">
        <div class="input-group mb-3 mr-2 ml-2">
            <!-- <input id="messageToSend" type="text" class="form-control" placeholder="Type a new Message..."/> -->
            <textarea id="messageToSend" type="text" class="form-control" placeholder="Type a new Message..."></textarea>
            <div class="input-group-append">
                <button id="sendMessage" class="btn btn-outline-info" type="button">Broadcast</button>
            </div>
        </div>
    </div>
</section>
    
<!--Footer Part-->
    </body>
</html>